coordinates.csv
coordinates.xlsx


# Ignore build directories
bin/
obj/
x64/Debug/
commute/
x86/

# Ignore Visual Studio-specific files
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# Ignore dependency directories
packages/

# Ignore other common files
*.log
*.vspscc
.idea/
